---
layout: blogs
title: blogs
---

{% for blog in site.posts %}
	<div class="blog-item">
		<h3><a href="{{site.baseurl}}{{blog.url}}">{{blog.title}}</a></h3>
		<div class="blog-footer">
			Category:
			<span>{{blog.categories}}</span>
			／
			Tag: {
			{% for tag in blog.tags %}
				<span class="blog-tag">
					 {{tag}} {% unless forloop.last %},{% endunless %}
				</span>
			{% endfor %}
			} ／
			<span class="blog-time">{{blog.date | date: '%Y-%m-%d  %a'}}</span>
		</div>
		<div class="blog-excerpt">
			 <i class="fa fa-quote-left"></i> {{blog.excerpt | remove: '<p>' | remove: '</p>' }}
		</div>
	</div>
{% endfor %}
