body{
	background-image: url(http://ozwfmed7j.bkt.clouddn.com/space-telecom_2.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container{
	margin-top: 10px;	
}

.idol-div{
	-webkit-column-count: 2;
  	-moz-column-count: 2;
  	column-count: 2;
  	-moz-column-gap:10px;
  	-webkit-column-gap:10px;
  	column-gap:10px;
  	padding: 10px;
}

.idol{
	padding: 15px 10px 3px 15px;
	margin: 20px 5px;
	break-inside: avoid;
	box-sizing: border-box;
	font-weight: 400;
	background-color: rgba(255,255,255,0.3);
	/*border: 2px solid rgba(255,255,255,0.3);*/
}

h3{
	margin: 0px;
	padding: 0px;
	margin-bottom: 10px;
}

.idol li{
	list-style-type: square;
	margin-bottom: 10px;
}

.idol a{
	margin: 20px 0;
	color: white;
}

.idol a:hover{
	font-weight: 700;
}

.idol p{
	margin-top: 10px;
	font-weight: 700;
}

.sidebar{
	margin-top: 10px;
}

.sidebar-block{
	padding: 10px;
	margin-top: 20px;
	background-color: rgba(255,255,255,0.3);
}

.visitor{
	font-size: 20px;
	background-color: rgba(0,0,0,0);
	letter-spacing: 0.1em;
	font-weight: 700;
	color: #00ff00;
}

.visitor-like{
	margin-top: 20px;
}

.visitor-like img{
	border-radius: 50%;
	margin: 2%;
	width: 20%;
	height: 20%;
}

.social{
	text-align: center;
}

.social a{
	color: white;
}

.social a:hover:nth-child(1){
	color: #00ff00;
}

.social a:hover:nth-child(2){
	color: orange;
}

.social a:hover:nth-child(3){
	color: red;
}

.social i{
	font-size: 32px;
	margin: 0 5%;
}