<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/contact.css">

<div class="contact">
	<div class="logo">
		<!-- <a href="https://monster-l-bar.github.io">
			<img src="{{site.baseurl}}/assets/image/common/doudou.png">
		</a> -->
	</div>
	<div class="socail">
		<a href="https://github.com/Monster-l-bar">
			<img src="/assets/image/common/github.png" id="github-icon">
		</a>
		<a href="mailto: monster.l.bar@gmail.com">
			<img src="/assets/image/common/gmail.png" id="gmail-icon">
		</a>
		<a href="#">
			<img src="/assets/image/common/rss.png" id="rss-icon">
		</a>
	</div>
</div>

<script type="text/javascript" src="{{site.baseurl}}/assets/js/contact.js"></script>