---
layout: blogs
title: blogs
---

{% for blog in paginator.posts %}
	<div class="blog-item">
		<h3 class="blog-item-title"><a href="{{site.baseurl}}{{blog.url}}">{{blog.title}}</a></h3>
		<div class="blog-item-info">
			Category:
			<span class="blog-item-category blog-item-label">{{blog.categories}}</span>
			／
			Tag: {
			{% for tag in blog.tags %}
				<span class="blog-item-tag blog-item-label">
					 {{tag}} {% unless forloop.last %},{% endunless %}
				</span>
			{% endfor %}
			} ／
			<span class="blog-item-time blog-item-label">{{blog.date | date: '%Y-%m-%d  %a'}}</span>
		</div>
		<div class="blog-item-excerpt">
			 <i class="fa fa-quote-left"></i> {{blog.excerpt | remove: '<p>' | remove: '</p>' }}
		</div>
	</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="/{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}