#calendar{
	margin-top: 20px;
	font-family: 'Rokkitt';
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	border-radius: 8px;
	background: var(--calendar-background-color);
}

#calendar button:hover{
	color: white;
	background-color: var(--body-color);
}

#calendar table{

}

#calendar th{
	text-align: center;
}

#calendar td{
	padding: 2px;
}

#time-header{
	width: 50%;
	color: white;
	padding: 10px;
	border: 0px;
	border-radius: 8px;
	background-color: var(--body-color);
}

#time-left, #time-right{
	width: 10%;
	padding: 10px;
	border: 0px;
	border-radius: 8px;
	background-color: var(--calendar-button-background-color);
}

.calendar-btn-group{
	padding-top: 10px;
}

.time-today{
	color: var(--body-color);
	background-color: white;
}

.time-element{
	border-radius: 8px;
}

.time-element:hover{
	color: white;
	background-color: var(--body-color);
}