:root{
	--body-color: #3b5998;
	--body-red-color: #db3236;

	--nav-background: #dddddd;
	--nav-color: #3b5998;
	--nav-home-color: #1abc9c;
	--nav-code-color: #3498db;
	--nav-blog-color: #9b59b6;
	--nav-lang-color: #e74c3c;
	--nav-work-color: #e67e22;

	--calendar-background-color: #dddddd;
	--calendar-button-background-color: #cccccc;
}