@font-face{
	font-family: 'NavFont';
	src: url('/assets/fonts/nav.woff')format('woff');
}

@font-face{
	font-family: 'Rokkitt';
	src: url('/assets/fonts/Rokkitt-Regular.ttf')format('ttf');
}

@font-face{
	font-family: 'Orbitron';
	src: url('/assets/fonts/Orbitron-Regular.ttf')format('ttf');
}

.NavFont{
	font-family: 'NavFont';
}

.Rokkitt{
	font-family: 'Rokkitt';
}

.Orbitron{
	font-family: 'Orbitron';
}
