body{
	color: #e7eff6;
	font-size: 16px;
	min-height: 750px;
    background: -webkit-linear-gradient(135deg,#051e3e , #251e3e , #451e3e); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(135deg,#051e3e , #251e3e , #451e3e); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(135deg,#051e3e , #251e3e , #451e3e); /* Firefox 3.6 - 15 */
    background: linear-gradient(135deg, #051e3e , #251e3e , #451e3e); /* 标准的语法 */
}

li{
	list-style-type: none;
}