body{
	color: var(--body-color);
	font-family: 'Rokkitt';
	background-color: white;
}
nav {
	margin: 25px auto 0;
	position: relative;
	width: 80%;
	background-color: var(--nav-background);
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-family: 'NavFont';
	font-size: 24px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: var(--nav-color);
	cursor: pointer;
}
nav a:hover{
	/*color: white;*/
	text-decoration: none;
}
nav .nav-current{
	color: white;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 20%;
}
a:nth-child(2) {
	width: 20%;
}
a:nth-child(3) {
	width: 20%;
}
a:nth-child(4) {
	width: 20%;
}
a:nth-child(5) {
	width: 20%;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 20%;
	left: 0;
	background-color: var(--nav-home-color);
/*	border: 5px solid #1abc9c;*/
}
nav .start-code, a:nth-child(2):hover~.animation {
	width: 20%;
	left: 20%;
	background-color: var(--nav-code-color);
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 20%;
	left: 40%;
	background-color: var(--nav-blog-color);
}
nav .start-lang, a:nth-child(4):hover~.animation {
	width: 20%;
	left: 60%;
	background-color: var(--nav-lang-color);
}
nav .start-works, a:nth-child(5):hover~.animation {
	width: 20%;
	left: 80%;
	background-color: var(--nav-work-color);
}