.article-item{
	padding: 10px;
	margin-bottom: 20px;
	color: #e7eff6;
	font-weight: 200;
	letter-spacing: 0.1em;
	border: 2px solid rgba(255,255,255,0.3);
}

.article-item h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
	margin: 10px 5px;
	margin-top: 40px;
	/*color: #63ace5;*/
	color: #2ab5c8;
}

.article-title{
	margin-top: 10px;
}

.article-title a{
	letter-spacing: 0;
	color: #ffffff;
}

.article-info{
	font-weight: 400;
	letter-spacing: 0;
	transform: scale(0.8);
	color: #7f8e9e;
	margin-left: 15px;
}

.article-content{
	padding: 10px;
	margin-top: 10px;
	/*margin-left: 15px;*/
}

.article-content p, dl{
	margin-left: 15px;
}

.article-content a{
	color: #adcbe3;
	font-style: italic;
}

/*无序列表*/
.article-content li{
	color: #e7eff6;
	list-style-type: square;
}

/*小段代码*/
.article-content samp{
	padding: 0 5px;
	margin: 2px;
	border-radius: 8px;
	background-color: rgba(255,255,255,0.3);
}

/*注意样式*/
.article-content .text-danger{
	color: #e7eff6;
	font-weight: 100;
	text-decoration: underline;
}

/*协议样式*/
.license{
	font-weight: 100;
	letter-spacing: 0.1em;
	color: #7f8e9e;
	text-align: center;
}