.container{
	width: 95%;
	padding: 20px;
	margin-top: 20px;
}

/*右侧边栏样式*/
.sidebar-item{
	color: #4b86b4;
	margin-top: 10px;
	padding: 10px;
	border-top: #63ace5 2px solid;
}

.sidebar-item-title{
	color: #adcbe3;
	font-size: 20px;
	margin-bottom: 15px;
}

.sidebar-item-body{
	padding-left: 10px;
}
/*日历样式*/
#calendar table{
	text-align: center;
}

#calendar tr{

}

#calendar th{
	border: 0px;
	color: #adcbe3;
	text-align: center;
}

#calendar td{
	border: 0px;
}

.calendar-header{
	font-weight: 700;
	text-align: center;
}

#time-header{
	display: inline-block;
	width: 60%;
	color: #adcbe3;
}

#calendar-left, #calendar-right{
	display: inline-block;
	width: 10%;
}

#calendar a{
	color: #adcbe3;
}

#time-body a{
	color: #adcbe3;
	font-weight: 700;
	text-decoration: underline;
}

/*目录样式*/
.category-item{
	color: #4b86b4;
}

.category-item:hover{
	color: #adcbe3;
}

.category-li{
	list-style-type: square;
}

/*标签样式*/
.tag-cloud{
	clear: both;
	text-align: left;
}

.tag-cloud a{
	padding: 0px;
	margin: 0 5px 0 0;
	letter-spacing: 0.1em;
	font-size: 0.8em;
	font-weight: 100;
}

.tag-cloud a:hover{
	text-decoration: none;
}

.tag-cloud a:nth-child(5n-4){
	color: #d62828;
}
.tag-cloud a:nth-child(5n-3){
	color: #f77f00;
}
.tag-cloud a:nth-child(5n-2){
	color: #fcbf49;
}
.tag-cloud a:nth-child(5n-1){
	color: #4b86b4;
}
.tag-cloud a:nth-child(5n){
	color: #eae2b7;
}

.tag-cloud a:nth-child(12n-8){
	font-size: 1.5em;
}
.tag-cloud a:nth-child(20n){
	font-size: 2em;
}

/*目录页面样式*/
.category-header{
	display: inline-block;
	color: #ffffaa;
	padding: 0 5px;
	padding-left: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	font-style: italic;
	border-left: 5px solid #ffffaa;
}

.category-body{
	margin-left: 10px;
}

.class-find{
	color: #ffffaa;
}

/*博客单元样式*/
.blog-item{
	padding: 10px;
	border: 2px solid rgba(255,255,255,0.3);
}

.blog-item-title{
	margin: 0px;
	margin-bottom: 15px;
}

.blog-item-title a{
	color: #e7eff6;
}

.blog-item-info{
	/*transform: scale(0.8);*/
	font-size-adjust: none;
	font-size: 0.8em;
	color: #7f8e9e;
	margin-left: 20px;
	margin-bottom: 10px;
}

.blog-item-excerpt{
	letter-spacing: 0.1em;
	font-weight: 200;
	font-size: 1.1em;
	color: #adcbe3;
}

.blog-item-excerpt .fa{
	font-size: 1.5em;
	color: #4b86b4;
	margin: 3px;
}