body{
	background: -webkit-linear-gradient(-135deg,#051e3e , #251e3e , #451e3e);
    background: -o-linear-gradient(-135deg,#051e3e , #251e3e , #451e3e);
    background: -moz-linear-gradient(-135deg,#051e3e , #251e3e , #451e3e);
    background: linear-gradient(-135deg,#051e3e , #251e3e , #451e3e);
    background-image: url(http://ozwfmed7j.bkt.clouddn.com/blog-background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.container{
	width: 95%;
	padding: 20px;
	margin-top: 20px;
}

/*右侧边栏样式*/
.sidebar-item{
	color: #4b86b4;
	margin-top: 10px;
	padding: 10px;
	border-top: #63ace5 5px solid;
}

.sidebar-item-title{
	color: #adcbe3;
	font-size: 20px;
	margin-bottom: 15px;
}

.sidebar-item-body{
	padding-left: 10px;
}
/*日历样式*/
#calendar table{
	text-align: center;
}

#calendar tr{

}

#calendar th{
	border: 0px;
	color: #adcbe3;
	text-align: center;
}

#calendar td{
	border: 0px;
}

.calendar-header{
	font-weight: 700;
	text-align: center;
}

#time-header{
	display: inline-block;
	width: 60%;
	color: #adcbe3;
}

#calendar-left, #calendar-right{
	display: inline-block;
	width: 10%;
}

#calendar a{
	color: #adcbe3;
}

#time-body a{
	color: #adcbe3;
	font-weight: 700;
	text-decoration: underline;
}

/*目录样式*/
.category-item{
	color: #4b86b4;
}

.category-item:hover{
	color: #adcbe3;
}

.category-li{
	list-style-type: square;
}

/*标签样式*/
.tag-cloud{
	clear: both;
	text-align: left;
}

.tag-cloud a{
	padding: 0px;
	margin: 0 5px 0 0;
	letter-spacing: 0.1em;
	font-size: 1em;
	font-weight: 100;
}

.tag-cloud a:hover{
	font-weight: 700;
}

.tag-cloud a:nth-child(5n-4){
	color: #eae2b7;
}
.tag-cloud a:nth-child(5n-3){
	color: #f77f00;
}
.tag-cloud a:nth-child(5n-2){
	color: #fcbf49;
}
.tag-cloud a:nth-child(5n-1){
	color: #4b86b4;
}
.tag-cloud a:nth-child(5n){
	color: #ff8b94;
}
/*surprise color*/
.tag-cloud a:nth-child(10n){
	color: #00b159;
}

.tag-cloud a:nth-child(10n-4){
	color: #65c3ba;
}
.tag-cloud a:nth-child(15n-8){
	color: #8874a3;
}

.tag-cloud a:nth-child(12n-8){
	font-size: 1.5em;
}

/*目录页面样式*/
.category-header{
	display: inline-block;
	color: #ffffaa;
	padding: 0 5px;
	padding-left: 10px;
	margin-bottom: 20px;
	font-size: 20px;
	font-style: italic;
	border-left: 5px solid #ffffaa;
}

.category-body{
	margin-left: 10px;
}

.class-find{
	color: #ffffaa;
}

/*博客单元样式*/
.blog-item{
	padding: 10px;
	margin-bottom: 20px;
	border: 2px solid rgba(255,255,255,0.3);
}

.blog-item-title{
	margin: 0px;
	margin-bottom: 15px;
}

.blog-item-title a{
	color: #d7dee6;
}

.blog-item-info{
	/*transform: scale(0.8);*/
	font-size-adjust: none;
	font-size: 0.8em;
	color: #5b5b5b;
	margin-left: 20px;
	margin-bottom: 10px;
}

.blog-item-excerpt{
	letter-spacing: 0.1em;
	font-weight: 200;
	font-size: 1.1em;
	color: #bbd9f1;
}

.blog-item-excerpt .fa{
	font-size: 1.5em;
	color: #4b86b4;
	margin: 3px;
}

/*返回顶部*/
.move-top button{
	top: 80%;
	left: 70%;
	position: fixed;
	color: #ffffff;
	border: 0px;
	box-shadow: none;
	border-radius: 8px;
	background-color: #555;
}

#topBtn{
	index: 99;
	display: none;
}