---
layout: nav
nav: blogs
---

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/blogs/blogs.css">
<script type="text/javascript" src="{{site.baseurl}}/assets/js/calendar.js"></script>

<div class="container" id="blogs">
	<div class="row">
		<div class="col-md-8 col-sm-8">
			{{content}}
		</div>
		<div class="col-md-4 col-sm-4">
			<div id="calendar" class="index">
				<h4><i class="fa fa-calendar"></i> 日历 <small>| Calendar</small></h4>
				<div>
					<table id="time-body" class="table">
	
					</table>
					<div class="calendar-header">
						<span><a id="calendar-left" href=""><<</a></span>
						<span id="time-header"></span>
						<span><a id="calendar-right" href="">>></a></span>
					</div>
				</div>
			</div>
			<div class="index">
				<h4><i class="fa fa-bookmark"></i> 目录 <small>| Category</small></h4>
				<div class="index-items">
					{% for category in site.categories %}
					<li class="category-li"><a class="category-item" href="{{site.baseurl}}/categories/{{category | first}}"> {{category | first}} ({{category | last | size}})</a></li>
					{% endfor %}
				</div>
			</div>
			<div class="index">
				<h4><i class="fa fa-tags"></i> 标签 <small> | Tag</small></h4>
				<div class="index-items">
					{% for tag in site.tags %}
						<div class="index-tag"><a href="{{site.baseurl}}/tags/{{tag | first}}"><i class="fa fa-tag"></i> {{tag | first}} ({{tag | last | size}})</a></div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var calendarDateArray = [
		{% for post in site.posts %}
		    {% capture day %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
		    {% capture nday %}{{ post.next.date | date: '%Y-%m' }}{% endcapture %}
		    {% if day != nday %}
		        "{{ post.date | date: '%Y-%m' }}"{% unless forloop.last %},{% endunless %}
		    {% endif %}
		{% endfor %}
	];

	var calendarDateUrlArray = [];
	{% for post in site.posts %}
	    {% capture day %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
	    {% capture nday %}{{ post.next.date | date: '%Y-%m' }}{% endcapture %}
	    {% if day != nday %}
	        calendarDateUrlArray["{{ post.date | date: '%Y-%m' }}"] = [];
	    {% endif %}
	    calendarDateUrlArray["{{post.date | date: '%Y-%m'}}"]["{{post.date | date: '%d'}}"] = "{{site.baseurl}}{{post.url}}";
	{% endfor %}

	var date = new Date();
	{% if page.calendar %}
		var dateString = '{{page.calendar}}';
		var dateArray = dateString.split('-');
		var year = dateArray[0];
		var month = dateArray[1];
		date.setFullYear(year);
		date.setMonth(month-1);
	{% elsif page.date %}
		var year = '{{page.date | date: "%Y"}}';
		var month = '{{page.date | date: "%m"}}';
		date.setFullYear(year);
		date.setMonth(month-1);
	{% endif %}
	showCalendar(date);
</script>