---
layout: nav
nav: codes
---

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/codes/codes.css">

<div class="container">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-sm-6 card">
			<div class="series-card fadeIn">
				<a href="#">
					<div class="series-card-index">
						Gist
					</div>
					<div class="series-card-thumbnail">
						<img src="http://ozwfmed7j.bkt.clouddn.com/code-2.png"> 
					</div>
					<div class="series-card-details">
						<h3 class="w-80">
							单词消除游戏<br>
							Word Puzzles Game
						</h3>
						<div class="w-100">
							<p>C++ | SDL</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-lg-4 col-sm-6 card">
			<div class="series-card fadeIn">
				<a href="#">
					<div class="series-card-index">
						Gist
					</div>
					<div class="series-card-thumbnail">
						<img src="http://ozwfmed7j.bkt.clouddn.com/code-2.png"> 
					</div>
					<div class="series-card-details">
						<h3 class="w-80">
							单词消除游戏<br>
							Word Puzzles Game
						</h3>
						<div class="w-100">
							<p>C++ | SDL</p>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4 col-lg-4 col-sm-6 card">
			<div class="series-card fadeIn">
				<a href="#">
					<div class="series-card-index">
						Gist
					</div>
					<div class="series-card-thumbnail">
						<img src="http://ozwfmed7j.bkt.clouddn.com/code-2.png"> 
					</div>
					<div class="series-card-details">
						<h3 class="w-80">
							单词消除游戏<br>
							Word Puzzles Game
						</h3>
						<div class="w-100">
							<p>C++ | SDL</p>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>		

{{content}}