---
layout: nav
nav: codes
---

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/codes/codes.css">

<div class="container markdownFile">
	<div>
		<h1><a href="https://github.com/Monster-l-bar/Gist"> Gist  | <small>代码段</small></a></h1>
		<hr>
	</div>
	<div>
		<img src="https://img.shields.io/badge/license-GNU-blue.svg">
		<img src="https://img.shields.io/badge/language-All-green.svg">
		<a href="https://github.com/Monster-l-bar/Gist"><img src="https://img.shields.io/badge/github-monster-orange.svg"></a>
	</div>
	<div>
		<h3>Project Description(项目说明)</h3>
		Gist is a useful code snippet.game, project, website or algorithms can be used.it organized by characteristic and language.
		(Gist里面是一些有用或有意思的代码片段，游戏、项目、网站前后端、算法都可以，根据用途、语言分类。)
	</div>
	<div>
		<h3>File Directroy Description(目录说明)</h3>
		<pre><code>
root(/)
|	|-🎮 Game(小游戏)
|	|	|-Enclosure(圈地游戏)
|	|	|	|-C++-Cocos2dx(C++/Cocos-2dx)
|	|	|-SpaceWar(空间大战)
|	|	|	|-C++-SDL2(C++/Simple DirectMedia Layer)
|	|	|-WordGame(单词消除游戏)
|	|	|	|-C++-SDL2(C++/Simple DirectMedia Layer)
|	|-🍺 Item(小项目)
|	|	|-Calculator(计算器)
|	|	|	|-C-SDL2(C/Simple DirectMedia Layer)
|	|	|-Clock(时钟)
|	|	|	|-C-SDL2(C/Simple DirectMedia Layer)
		</code></pre>
	</div>

	<div class="screenshots">
		<h3>Project Screenshot(项目截图)</h3>
		<div class="screenshot">
			<a href="https://github.com/Monster-l-bar/Gist/tree/master/Item/Calculator"><img src="http://ozwfmed7j.bkt.clouddn.com/caculate.png" width="160px" height="240px"></a>
		</div>		
		<div class="screenshot">
			<a href="https://github.com/Monster-l-bar/Gist/tree/master/Game/WordGame"><img src="http://ozwfmed7j.bkt.clouddn.com/wordgame.png" height="160px" width="240px"></a>
		</div>
		<div class="screenshot">
			<a href="https://github.com/Monster-l-bar/Gist/tree/master/Game/Enclosure/"><img src="http://ozwfmed7j.bkt.clouddn.com/enclosure.png" height="160px" width="240px"></a>
		</div>
		<div class="screenshot">
			<a href="https://github.com/Monster-l-bar/Gist/tree/master/Item/Clock"><img src="http://ozwfmed7j.bkt.clouddn.com/clock.png" height="160px" width="240px"></a>
		</div>
		<div class="screenshot">
			<a href="https://github.com/Monster-l-bar/Gist/tree/master/Game/SpaceWar/"><img src="http://ozwfmed7j.bkt.clouddn.com/spacewar.png" width="160px" height="240px"></a>
		</div>		
	</div>
</div>

{{content}}