---
layout: nav
nav: codes
---

<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/codes/codes.css">

<div id="codes">
	<div class="big-class" id="game">
		<div class="big-class-header">
			<h1 class="text-center"><i class="fa fa-gamepad"></i> 游戏</h1>
		</div>
		<div class="project">
			<div class="project-image">
				<img src="http://ozwfmed7j.bkt.clouddn.com/spacewar.png">
			</div>
			<div class="project-mask">
			</div>
		</div>
		<div class="project">
			<div class="project-image">
				<img src="http://ozwfmed7j.bkt.clouddn.com/wordgame.png">
			</div>
			<div class="project-mask">
			</div>
			<div class="project-info">
			</div>
		</div>
		<div class="project">
			<div class="project-image">
				<img src="http://ozwfmed7j.bkt.clouddn.com/enclosure.png">
			</div>
		</div>
	</div>
	<div class="big-class" id="item">
		<div class="big-class-header">
			<h1 class="text-center"><i class="fa fa-wrench"></i> 项目</h1>
		</div>
		<div class="project">
			<div class="project-image">
				<img src="http://ozwfmed7j.bkt.clouddn.com/clock.png">
			</div>
		</div>
		<div class="project">
			<div class="project-image">
				<img src="http://ozwfmed7j.bkt.clouddn.com/caculate.png">
			</div>
		</div>
	</div>
</div>

{{content}}