<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} · {% endif %} Gijera</title>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/font.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/main.css">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/syntax.css">
</head>
<body>

{{content}}

</body>
</html>