.markdownFile{
	padding: 20px;
	color: #555;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	border-radius: 8px;
	background-color: #ddd;
}

.markdownFile a{
	color: #555;
}

.markdownFile a:hover{
	text-decoration: none;
}

.screenshots{
	text-align: center;
}

.screenshots h3{
	text-align: left;
}

.screenshot{
	margin: 10px 20px;	
	text-align: center;
	transform: scale(1);
	display: inline-block;
	box-shadow: 8px 8px 5px #ccc;
}

.screenshot:hover{
	transform: scale(1.05);
	box-shadow: 10px 10px 5px #888;
}