.markdownFile *{
	color: #e7eff6;
}

.markdownFile h1 a{
	color: #e7eff6;
}

.markdownFile{
	padding: 20px;
	color: #e7eff6;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	border-radius: 8px;
	background-color: rgba(255,255,255,0.3);
}

.markdownFile a{
	color: #555;
}

.markdownFile a:hover{
	text-decoration: none;
}

pre{
	border: 0px;
	background-color: rgba(0,0,0,0);
}

code{
	border: 0px;
	background-color: rgba(0,0,0,0);
}