#codes{
	color: #555555;
	text-align: center;
	margin: 20px;
}

#codes img{
	width: 80%;
	height: 80%;
}

.big-class{
	margin-top: 30px;
}

.project{
	text-align: center;
	transform: scale(0.95);
	padding: 30px 15px;
	/*padding-bottom: 0px;*/
	margin: 10px;
	display: inline-block;
	background-color: #f6f6f6;
	box-shadow: 8px 8px 5px #ddd;
}

.project:hover{
	transform: scale(1.0);
	/*background-color: #ddd;*/
	box-shadow: 10px 10px 5px #888;
}